body {
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    
  }
  
  h1{
    color:rgb(11, 6, 138);
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }

  h5{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  P{
    font-weight:bolder;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  #guess {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
  }
  
  #rightGuess {
    display: flex;
    text-transform: uppercase;
  }
  
  #wrongGuess {
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }
  
  .wordBlocks,
  .wrongWordBlocks {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    background: white;
    color: rgb(29, 117, 180);
    border-radius: 10px;
  }
  
  .wrongWordBlocks {
    background: #dc3545;
    color: white;
  }
  .main{
    background-image: url('https://img.freepik.com/free-vector/minimalist-background-gradient-colorful-style_698780-837.jpg?size=626&ext=jpg&ga=GA1.1.1521404209.1684391917&semt=ais');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
   
  }